<!-- Header Section Start -->

    <header id="video-area" data-stellar-background-ratio="0.5">
      <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
      <div class="fixed-top">
          <div class="container">
            <div class="logo-menu">
              <center><%= image_tag("logo_2.png", alt: "")%></center>
              <button class="menu-button" id="open-button"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
          </div>
      </div>
          <div class="overlay-2"></div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h2 class="wow pos fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> </h2><br><br>
              <h2 class="wow pos fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> </h2><br><br>
              <h2 class="wow pos fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> </h2><br><br>

              <a href="#portfolios" class="btn pos btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms"> VIDEO PRESENTATION </a>
            </div>

          </div>
        </div>
      </div>
    </header>
    <!-- Header Section End -->


    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Musician become videographer</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Fracture is the very first video-based synth that allows musicians to create visuals</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="fa fa-headphones"></i>
              </div>
              <h4>Newest sound generation</h4>
              <p>Enjoy a brand new synthesis algorithm that bridge the gab between 3D and audio</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
              <div class="icon">
                <i class="fa fa-cubes"></i>
              </div>
              <h4>Amazing visuals</h4>
              <p>3D Visuals are real-time generated. You have billions of possibilities playing with parameters to create your unique visuals</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <i class="fa fa-share"></i>
              </div>
              <h4>Share your identity</h4>
              <p>Export sound and video on the same time. You create music-based visuals with the best efficiency ever</p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Enjoy a complete interface</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">All that you need in one synth. And even more...</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
              <div class="box-item left">
                <span class="icon">
                  <i class="fa fa-eye"></i>
                </span>
                <div class="text">
                  <h4>Graphics sound engine</h4>
                  <p>Real-time rendering for visuals</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="fa fa-connectdevelop"></i>
                </span>
                <div class="text">
                  <h4>Write customizable shaders</h4>
                  <p>Feel free to design your own paths</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="fa fa-arrows-alt"></i>
                </span>
                <div class="text">
                  <h4>Modulate anything to anywhere</h4>
                  <p>No tweaking limits for your sound design</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="show-box wow fadeInDown animated" data-wow-offset="10">
              <%= image_tag("features/services.png", alt: "")%>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-desktop"></i>
                </span>
                <div class="text">
                  <h4>Complete effect rack</h4>
                  <p>You still have the classic knobs of a synth</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <div class="text">
                  <h4>Import your own textures</h4>
                  <p>You can play with your own materials</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-exchange"></i>
                </span>
                <div class="text">
                  <h4>What you see is what you hear</h4>
                  <p>Enjoy a complete sync</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->

    <!-- Start Video promo Section -->
    <section class="video-promo section" data-stellar-background-ratio="0.5">
    <div class="overlay-4"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="video-promo-content text-center">
                <h2 class="wow zoomIn pos" data-wow-duration="1000ms" data-wow-delay="100ms">How to use tutorial</h2>
                <p class="wow zoomIn pos" data-wow-duration="1000ms" data-wow-delay="100ms">Here you can find help to get by with the install and the basics</p>
                <a href="" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="fa fa-play-circle"></i></a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Video Promo Section -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Gallery</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Look at the amazing transformations of sound available with Fracture</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons
            <div class="controls text-center wow fadeInUp" data-wow-delay=".6s">
              <a class="control mixitup-control-active btn btn-common" data-filter="all">
                All
              </a>
              <a class="control btn btn-common" data-filter=".marketing">
                GUI
              </a>
              <a class="control btn btn-common" data-filter=".planning">
                Output
              </a>
              <a class="control btn btn-common" data-filter=".research">
                Live
              </a>
            </div>
             Portfolio Controller/Buttons Ends-->

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInUp" data-wow-delay="0.8s">
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="shot-item">
                  <a>

                      <%= image_tag("portfolio/img1.jpg", alt: "")%>
                  </a>

                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a>

                      <%= image_tag("portfolio/img2.jpg", alt: "")%>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix research">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a>
                      <%= image_tag("portfolio/img3.jpg", alt: "")%>

                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a>
                      <%= image_tag("portfolio/img4.jpg", alt: "")%>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a>
                      <%= image_tag("portfolio/img5.jpg", alt: "")%>
                    </a>
                  </div>
                </div>
              </div>
              <!--<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="img/portfolio/img5.jpg">
                      <%= image_tag("portfolio/img5.jpg", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>-->
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a>
                      <%= image_tag("portfolio/img6.jpg", alt: "")%>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Start Pricing Table Section -->
    <div id="pricing" class="section pricing-section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Get <span>Fracture</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>

        <div class="row pricing-tables">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-thumbs-up"></i>
              </div>
              <div class="pricing-details">
                <h2>Demo Plan</h2>
                <span>FREE</span>
                <ul>
                  <li>All features</li>
                  <li>All presets</li>
                  <li><i class="fa fa-ban"></i> Rendering limits</li>
                  <li><i class="fa fa-ban"></i> No save</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">Get Plan</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-heart"></i>
              </div>
              <div class="pricing-details">
                <h2>Normal Plan</h2>
                <span>99.99$</span>
                <ul>
                  <li>All features</li>
                  <li>All presets</li>
                  <li>HD rendering</li>
                  <li>All save options</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">Get Plan</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table table-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-diamond"></i>
              </div>
              <div class="pricing-details">
                <h2>Premium Plan</h2>
                <span>199.99$</span>
                <ul>
                   <li>All features and presets</li>
                  <li>Special packs added</li>
                  <li>No quality limits for rendering</li>
                  <li>All save options</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">Get Plan</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Pricing Table Section -->

    <!-- Counter Section Start -->
    <div class="counters section" data-stellar-background-ratio="0.5">
      <div class="overlay-3"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".2s">
              <div class="facts-item">
                <div class="icon">
                  <%= image_tag("daw.png", alt: "")%>
                </div>
                <div class="fact-count">
                  <h4>Installation like a VST for all DAW's</h4>
                </div>
              </div>
            </div>
          </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".6s">
              <div class="facts-item">
                <div class="icon">
                  <%= image_tag("os.png", alt: "")%>
                </div>
                <div class="fact-count">
                  <h4>Cross-platform</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".6s">
              <div class="facts-item">
                <div class="icon">
                  <%= image_tag("cubes.png", alt: "")%>
                </div>
                <div class="fact-count">
                  <h4>Packs of presets available</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".8s">
              <div class="facts-item">
                <div class="icon">
                  <%= image_tag("fract.png", alt: "")%>
                </div>
                <div class="fact-count">
                  <h4>Fractals Mathematical formulas</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- testimonial Section Start -->
    <div id="testimonial" class="section">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10 wow fadeInRight" data-wow-delay="0.2s">
            <div class="touch-slider owl-carousel owl-theme">
              <div class="testimonial-item">
              <%= image_tag("testimonial/customer1.png", alt: "")%>

                <div class="testimonial-text">
                  <p>"Fracture c'est un peu une idée vieille comme le monde mais enfin disponible pour les musiciens moderne"<br><br>Je recommande !</p>
                  <h3>@data_c0re</h3>
                  <span>Vidéaste et VJ grenoblois</span>
                </div>
              </div>
              <div class="testimonial-item">
                <%= image_tag("testimonial/customer2.png", alt: "")%>
                <div class="testimonial-text">
                  <p>"Fracture donne la possibilité aux compositeurs de réelement visualiser leur son en lui donnant vie"<br><br>Je recommande !<br></p>
                  <h3>@maximedangles</h3>
                  <span>Artiste de musique electronique - Scandium Records</span>
                </div>
              </div>
              <div class="testimonial-item">
                <%= image_tag("testimonial/customer3.png", alt: "")%>
                <div class="testimonial-text">
                  <p>"Le son et l'image, enfin ensemble dans un outil complet et performant pour la MAO et le Vjing en Live"<br><br>Testez le !</p>
                  <h3>@malaamusic</h3>
                  <span>Artiste de musique électronique - Label Confessions</span>
                </div>
              </div>
              <!--<div class="testimonial-item">
                <%= image_tag("testimonial/customer3.png", alt: "")%>
                <div class="testimonial-text">
                  <p>"Le son et l'image, enfin ensemble dans un outil complet et performant pour la MAO et le Vjing en Live"<br><br>Testez le !</p>
                  <h3>@malaamusic</h3>
                  <span>Artiste de musique électronique - Label Confessions</span>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- testimonial Section Start -->



    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Latest <span>Blogs</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
              <div class="blog-item-img">
                <a href="single-post.html">
                <%= image_tag("blog/img1.jpg", alt: "")%>

                </a>
              </div>
              <div class="blog-item-text">
                <h3>
                <a href="#">What is Fracture ? </a>
                </h3>
                <div class="meta-tags">
                  <span class="date"><i class="fa fa-calendar-full"></i>on Jan 06, 2018</span>
                  <span class="comments"><a href="#"><i class="fa fa-bubble"></i> 24 Comments</a></span>
                </div>
                <p>
                Two engineers from France just created the most advanced sound synthesis ever existed.
                </p>
                <a href="#" class="btn btn-common btn-rm">Read More</a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.6s">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <%= image_tag("blog/img2.jpg", alt: "")%>
                </a>
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="#">Fracture the pros and cons</a>
                </h3>
                <div class="meta-tags">
                  <span class="date"><i class="fa fa-calendar-full"></i>on Jan 08, 2018</span>
                  <span class="comments"><a href="#"><i class="fa fa-bubble"></i> 24 Comments</a></span>
                </div>
                <p>
                Discover the newest VST in the electronic music industry.
                </p>
                <a href="#" class="btn btn-common btn-rm">Read More</a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.9s">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <%= image_tag("blog/img3.jpg", alt: "")%>
                </a>
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="#">All the maths behind Fracture</a>
                </h3>
                <div class="meta-tags">
                  <span class="date"><i class="fa fa-calendar-full"></i>on Jan 09, 2018</span>
                  <span class="comments"><a href="#"><i class="fa fa-bubble"></i> 24 Comments</a></span>
                </div>
                <p>
                The art insiration and all he mathematical process behind the newest synthetis of Fracture.
                </p>
                <a href="#" class="btn btn-common btn-rm">Read More</a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Contact Section Start -->
    <section id="contact" class="section">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="contact-block">
              <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Contact <span>Us</span></h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
              </div>
              <form id="contactForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                   <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Your Message" rows="11" data-error="Write your message" required></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button text-center">
                      <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->
